.open-button {
  background-color: #333;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 230px;
  height: 50px;
  white-space: normal;
  border-radius: 20px;
}

.info-popup {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 11px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 300px;
  padding: 6px;
  background-color: #f4f4f4;
  width: 220px;
  height: auto;
  border-radius: 20px;
}

.close-button {
  color: white;
  padding: 15px 19px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:3px;
  /* opacity: 0.8; */
  background-color: #fd256e;
  border-radius: 20px;
  /*position: fixed;*/
}

.popup-header {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.30em;
  margin-block-end: 0.30em;
  /*margin-inline-start: 0px;
  margin-inline-end: 0px;*/
  font-weight: bold;
}

.popup-label {
  display: block;
  text-align: center;
  text-decoration: underline;
  margin-block-start: 0.02em;
  margin-block-end: 0.20em;
}


.newImages {
  font-size: 0;
  padding: 0px 0px 0px 0px; 
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column-td {
  text-align: center;
}

.fadein { 
  position: relative; 
  height: 400px; 
  width: auto; 
}

.fadein img {
  position: absolute;
  left: 0px;
  top: -20px;
  height: 350px;
  width: relative;
}